* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #2B283A;
}

body {

  background-color: #F2F2F2;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;   /*  key to centering the section */
  width: 550px;
  background-color: white;
}




nav{
  height: 50px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;

}

nav > h4{
  font-size: 15px;
  color: white;
}
nav > img{
  height: 30px;
  padding-right: 5px;
}
 
.card-image {
  width: 125px;;
  height: 191px;
  border-radius: 5px;
  
}




.card{
  display: flex;

  padding: 40px;
}




.side-content{
  padding-left: 10px;
  padding-top: 9px;

  
}

.location{
  font-weight: bold;
  padding-right: 10px;
}

.map{
  text-decoration: underline;
  color: #918E9B;
}